@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>This component demonstrates fetching Events from the server.</p>

@if (sampleEvents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Name</th>
                <th>Locations</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sampleEvent in sampleEvents)
            {
                <tr>
                    <td>@sampleEvent.Start.ToShortDateString()</td>
                    <td>@sampleEvent.End.ToShortDateString()</td>
                    <td>@sampleEvent.Name</td>
                    <td>@sampleEvent.Locations</td>
                    <td>@sampleEvent.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private free_azure.shared.Event[]? sampleEvents;

    protected override async Task OnInitializedAsync()
    {
        sampleEvents = await Http.GetFromJsonAsync<free_azure.shared.Event[]>("api/Events");
    }
}
